---
import RedactableLink from "../RedactableLink.astro";

const emailAddress = import.meta.env.EMAIL;
const phone = import.meta.env.PHONE;
const linkedIn = import.meta.env.LINKEDIN;
---

<section class="text-center flex flex-col justify-center">
  <h2 class="text-2xl font-black">Sydney Newmark</h2>
  <div class="mx-auto flex flex-row flex-wrap space-x-3 text-md">
    <RedactableLink prefix="mailto:" rest={emailAddress} />
    <p>|</p>
    <RedactableLink prefix="tel:" rest={phone} />
    <p>|</p>
    <p>Worcester, MA</p>
    <p>|</p>
    <a
      class="ignored-link text-blue hover:underline"
      href="https://github.com/cecelot">github.com/cecelot</a
    >
    <p>|</p>
    <RedactableLink prefix="https://linkedin.com" rest={linkedIn} />
  </div>
</section>
