---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<section class="text-md leading-tight">
  <h3 class="text-xl font-semibold">{title}</h3>
  <hr class="border-text my-0.5" />
  <slot />
</section>
