---
import Section from "./Section.astro";

const languages = [
  "JavaScript/TypeScript",
  "HTML/CSS",
  "Rust",
  "Python",
  "C++",
  "Java",
  "SQL",
];
const technologies = ["Node.js", "React", "PostgreSQL", "Git", "Docker", "Nix"];
const systems = ["macOS", "Linux", "UNIX"];
---

<Section title="Technical Knowledge">
  <div class="flex flex-row space-x-1">
    <div class="flex flex-col">
      <p class="font-bold">Languages:</p>
      <p class="font-bold">Technologies:</p>
      <p class="font-bold">Systems:</p>
    </div>
    <div class="flex flex-col">
      <p>
        {languages.join(" | ")}
      </p>
      <p>
        {technologies.join(" | ")}
      </p>
      <p>{systems.join(" | ")}</p>
    </div>
  </div>
</Section>
