---
import GalleryView from "../../components/GalleryView.astro";
import { getAllImages } from "../../image";
import Base from "../../layouts/Base.astro";

const images = await getAllImages();
---

<Base
  pageTitle="Gallery"
  description="A collection of my favorite photographs I've taken! Shot on iPhone (mostly)."
>
  <div class="mt-8 mb-5 border-2 bg-mantle border-peach rounded-lg p-2">
    This page depends on the experimental <a
      target="_blank"
      href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout/Masonry_layout"
      >masonry layout</a
    > for CSS Grid to display as intended. Learn how to enable this feature in <a
      href="/p/online-gallery#in-safari"
      target="_blank">Safari</a
    > or <a href="/p/online-gallery#in-firefox" target="_blank">Firefox</a>.
  </div>
  <h1 class="text-3xl font-bold mt-3 mb-2">Gallery</h1>
  <p class="mb-5">
    A collection of my favorite photographs I've taken! Shot on iPhone (mostly).
  </p>
  <GalleryView images={images} />
</Base>
