---
import NodeCard from "../../components/NodeCard.astro";
import { collections } from "../../../data/config.json";
import Base from "../../layouts/Base.astro";
---

<Base
  pageTitle="Collections"
  description="An index of the types of content I publish here."
>
  <h1 class="text-3xl font-bold mt-3 mb-2">Collections</h1>
  <p class="mb-5">An index of the types of content I publish here.</p>
  <div
    class="grid [grid-template-columns:repeat(auto-fill,minmax(250px,1fr))] gap-1"
  >
    {
      Object.keys(collections).map((key) => (
        <NodeCard
          title={key}
          description={collections[key as "blog" | "notes" | "drafts"]}
          url={`/in/${key}`}
        />
      ))
    }
  </div>
</Base>
