---

---

<p style="display:none;" id="css-naked-day-explainer">
  Hey! Where'd the styles go? <a href="https://css-naked-day.github.io"
    >Glad you asked</a
  >.
</p>
<script>
  const cssNakedDay = "04-09";
  const now = new Date();
  const currentYear = now.getFullYear();
  const start = new Date(
    `${currentYear}-${cssNakedDay}T00:00:00+1400`
  ).getTime();
  const end = new Date(`${currentYear}-${cssNakedDay}T23:59:59-1200`).getTime();
  const currentTime = now.getTime();
  const isCssNakedDay = currentTime >= start && currentTime <= end;
  if (isCssNakedDay || location.search.includes("css-naked")) {
    window.addEventListener("load", () => {
      document.querySelectorAll("style, link[rel=stylesheet").forEach((el) => {
        el.parentElement?.removeChild(el);
      });
      // show the explainer
      if (isCssNakedDay) {
        document
          .querySelector("#css-naked-day-explainer")
          ?.setAttribute(
            "style",
            "display:block;background:lightyellow;padding:5px;margin:15px 0px;"
          );
      }
    });
  }
</script>
