---
import TagList from "../../components/interactive/TagList";
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";

const nodes = await getCollection("nodes");
const tags: Record<string, number> = {};
nodes.forEach((node) => {
  node.data.tags?.forEach((tag: string) => {
    tags[tag] = (tags[tag] || 0) + 1;
  });
});
const tagNames = [
  ...new Set(
    nodes
      .map((node) => node.data.tags)
      .flat()
      .filter((s) => typeof s !== "undefined"),
  ),
];
const pageTitle = "Tags";
---

<Base pageTitle={pageTitle} description="Browse nodes by topic.">
  <h1 class="text-3xl font-bold mt-3 mb-2 font-serif">Tags</h1>
  <p class="mb-5">Browse nodes by topic.</p>
  <TagList client:load tags={tags} tagNames={tagNames} />
</Base>
