---
import Base from "../../layouts/Base.astro";
const allPosts = await Astro.glob("../p/*.md");
const tags: Record<string, number> = {};
allPosts.forEach((post) => {
  post.frontmatter.tags.forEach((tag: string) => {
    tags[tag] = (tags[tag] || 0) + 1;
  });
});
const tagNames = [
  ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
];
const pageTitle = "Tags";
---

<Base pageTitle={pageTitle} description="Browse posts by topic.">
  <div class="space-y-5">
    {
      tagNames
        .sort((a, b) => tags[b] - tags[a])
        .map((tag) => (
          <div class="flex flex-col">
            <a href={`/tags/${tag}`}>#{tag}</a>
            <span class="text-subtext1">
              {tags[tag]} post{tags[tag] > 1 ? "s" : ""}
            </span>
          </div>
        ))
    }
  </div>
</Base>
