---
import Base from "../../layouts/Base.astro";
import TagList from "../../components/interactive/TagList";
const allPosts = await Astro.glob("../p/*.md");
const tags: Record<string, number> = {};
allPosts.forEach((post) => {
  post.frontmatter.tags.forEach((tag: string) => {
    tags[tag] = (tags[tag] || 0) + 1;
  });
});
const tagNames = [
  ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
];
const pageTitle = "Tags";
---

<Base pageTitle={pageTitle} description="Browse posts by topic.">
  <h3 class="text-3xl font-bold mt-3 mb-2">Tags</h3>
  <p class="mb-5">Browse posts by topic.</p>
  <TagList client:load tags={tags} tagNames={tagNames} />
</Base>
