---
import Base from "../../layouts/Base.astro";
import TagList from "../../components/interactive/TagList";
import { getCollection } from "astro:content";
const allPosts = (await getCollection("blog")).filter(
  (post) => !post.data.draft
);
const tags: Record<string, number> = {};
allPosts.forEach((post) => {
  post.data.tags.forEach((tag: string) => {
    tags[tag] = (tags[tag] || 0) + 1;
  });
});
const tagNames = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tags";
---

<Base pageTitle={pageTitle} description="Browse posts by topic.">
  <h1 class="text-3xl font-bold mt-3 mb-2">Tags</h1>
  <p class="mb-5">Browse posts by topic.</p>
  <TagList client:load tags={tags} tagNames={tagNames} />
</Base>
