---
import Base from "../layouts/Base.astro";
---

<Base pageTitle="About" description="All about me and what I'm interested in.">
  <div class="flex flex-col mt-10 mb-5 space-y-5">
    <img
      class="rounded-full h-24 w-24 mr-4 mb-4"
      src="https://avatars.githubusercontent.com/u/68250402?v=4"
      alt="Sydney Newmark profile photo."
    />
    <p>
      I'm a first-year student at <a target="_blank" href="https://wpi.edu"
        >Worcester Polytechnic Institute</a
      > majoring in Computer Science, with a particular interest in the
      <a href="https://www.britannica.com/science/computational-biology"
        >intersection</a
      > between CS and biology.
    </p>
    <p>
      Alongside this, I have a distinct fascination with all things related to
      programming languages and operating systems, and I even <a
        href="/p/writing-a-compiler">wrote</a
      > a compiler of my own to further my understanding of how they work.
    </p>
    <p>
      My passion for techology excites me for the future and the societal
      advances we can make using new innovations and tools. I care deeply about
      responsible evolution of tech, so I'm cautiously optimistic about the role
      that artificial intelligence and machine learning will play in that
      future.
      <p>
        When I'm not taking classes, I enjoy coding and reading! All of my work
        is published on GitHub, and <a href="/projects">here</a> are some of my favorite
        projects.
      </p>
    </p>
  </div>
</Base>
