---
import PostCard from "../components/PostCard.astro";
import Base from "../layouts/Base.astro";
const allPosts = await Astro.glob("../pages/p/*.md");
---

<Base
  pageTitle="Archive"
  description="A collection of everything I've written online."
>
  <h3 class="text-3xl font-bold mt-3 mb-2">Archive</h3>
  <p class="mb-5">
    A collection of everything I've written online. Also available as an
    <a href="/rss.xml" class="text-blue">RSS feed</a>.
  </p>
  <ul class="space-y-3">
    {
      allPosts
        .sort((a, b) =>
          a.frontmatter.pubDate > b.frontmatter.pubDate ? 1 : -1
        )
        .reverse()
        .map((post) => (
          <li>
            <PostCard
              title={post.frontmatter.title}
              description={post.frontmatter.description}
              date={new Date(post.frontmatter.pubDate)}
              url={post.url}
              featured={post.frontmatter.featured}
            />
          </li>
        ))
    }
  </ul>
</Base>
