---
import Social from "../components/Social.astro";
import Base from "../layouts/Base.astro";
---

<Base
  pageTitle="Sydney Newmark"
  description="My personal corner of the internet, where I write about my projects and experiences in tech and elsewhere."
>
  <section class="flex flex-col mt-10 mb-5">
    <img
      height={96}
      width={96}
      class="rounded-full h-24 w-24 mr-4 mb-4"
      src="https://avatars.githubusercontent.com/u/68250402?v=4&size=512"
      alt="Sydney Newmark profile photo."
    />
    <div>
      <h1 class="text-xl font-semibold my-3">Hi, I'm Sydney!</h1>
      <p>
        I'm a first-year student at <a target="_blank" href="https://wpi.edu"
          >Worcester Polytechnic Institute</a
        > majoring in Computer Science, interested in working to engineer a new generation
        of sustainable software for an increasingly digital era. In my corner of
        the internet, I write about my projects and experiences in tech and elsewhere.{
          " "
        }<a href="/about">Read more</a>.
      </p>
      <ul class="mt-2 flex flex-row flex-wrap gap-y-2">
        <li class="mr-2">
          <Social icon="carbon:logo-github" link="https://github.com/cecelot" />
        </li>
        <li>
          <Social
            icon="carbon:logo-mastodon"
            link="https://mastodon.social/@cecelot"
          />
        </li>
      </ul>
    </div>
  </section>
</Base>
