---
import { Content as ShortBio } from "../content/misc/short-bio.mdx";
import { socials } from "../../data/config.json";
import Social from "../components/Social.astro";
import Base from "../layouts/Base.astro";
---

<Base
  pageTitle="Sydney Newmark"
  description="My personal corner of the internet, where I write about my projects and experiences in tech and elsewhere."
>
  <section class="flex flex-col gap-3">
    <div class="flex flex-col gap-3">
      <h1 class="text-xl font-semibold">Hi, I'm Sydney!</h1>
      <ShortBio />
      <ul>
        <li class="mr-2 flex flex-row gap-x-2">
          <Social
            label="Sydney Newmark's GitHub"
            icon="carbon:logo-github"
            link={socials.github}
          />
          <Social
            label="Sydney Newmark's Bluesky"
            icon="fa6-brands:bluesky"
            link={socials.bluesky}
          />
          <Social
            label="Sydney Newmark's Mastodon"
            icon="fa6-brands:mastodon"
            link={socials.mastodon}
          />
        </li>
      </ul>
    </div>
  </section>
</Base>
