---
import profilePicture from "../images/profilePicture.jpeg";
import { socials } from "../../data/config.json";
import Social from "../components/Social.astro";
import Base from "../layouts/Base.astro";
import { Image } from "astro:assets";
---

<Base
  pageTitle="Sydney Newmark"
  description="My personal corner of the internet, where I write about my projects and experiences in tech and elsewhere."
>
  <section class="flex flex-col mt-10 mb-5">
    <Image
      src={profilePicture}
      alt="A tinted purple rose"
      width="96"
      height="96"
      class="rounded-full h-24 w-24 mr-4 mb-4 motion-safe:hover:animate-spin"
    />
    <div>
      <h1 class="text-xl font-semibold my-3">Hi, I'm Sydney!</h1>
      <p>
        I'm a first-year student at <a target="_blank" href="https://wpi.edu"
          >Worcester Polytechnic Institute</a
        > majoring in Computer Science, interested in developing sustainable software
        solutions for our digital future. In my corner of the internet, I <a
          href="/blog">write about a variety of topics</a
        >, <a href="/gallery">share my photography</a>, and <a href="/projects"
          >highlight my favorite projects</a
        >.
      </p>
      <ul class="mt-2 flex flex-row flex-wrap gap-2">
        <li>
          <Social
            label="Sydney Newmark's GitHub"
            icon="carbon:logo-github"
            link={socials.github}
          />
        </li>
        <li>
          <Social
            label="Sydney Newmark's Mastodon"
            icon="carbon:logo-mastodon"
            link={socials.mastodon}
          />
        </li>
        <li>
          <Social
            label="Sydney Newmark's ORCID iD"
            icon="fa-brands:orcid"
            link={socials.orcid}
          />
        </li>
      </ul>
    </div>
  </section>
</Base>
