---
import Base from "../layouts/Base.astro";
import LicenseList from "../components/interactive/LicenseList";
import checker from "license-checker";
import { readFile } from "node:fs/promises";
import { promisify } from "node:util";
const licenseChecker = promisify(checker.init);
const licenses = await licenseChecker({ start: process.cwd() });
const linearized = [];
for (const license in licenses) {
  const { licenseFile } = licenses[license];
  linearized.push({
    name: license,
    text: licenseFile
      ? await readFile(licenseFile, "utf-8")
      : "No license file found",
  });
}
---

<Base
  pageTitle="Licenses"
  description="An index of this site's dependencies and their associated licenses."
>
  <h3 class="text-3xl font-bold mt-3 mb-2">Licenses</h3>
  <p class="mb-5">
    An index of this site's dependencies and their associated licenses. All of
    the code powering sydneyn.dev is licensed under the <a
      href="https://opensource.org/license/mit">MIT license</a
    >, and all of the prose content I write is <a
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
      >CC BY-NC-SA 4.0</a
    >. Refer to the <a
      href="https://github.com/cecelot/forest/blob/main/LICENSE">license text</a
    > in the <a href="https://github.com/cecelot/forest">GitHub repository</a> for
    details.
  </p>
  <LicenseList client:load licenses={linearized} />
</Base>
