---
import ProjectCard from "../components/ProjectCard.astro";
import Base from "../layouts/Base.astro";
interface Project {
  title: string;
  description: string;
  url: string;
  post: string;
}
const projects: Project[] = [
  {
    title: "Kyanite",
    description:
      "A toy compiled programming language written for my Independent Study project @ LASA",
    url: "https://github.com/cecelot/kyanite",
    post: "/p/writing-a-compiler",
  },
  {
    title: "sydneyn.dev",
    description: "This website! Written with Astro and Tailwind",
    url: "https://github.com/cecelot/forest",
    post: "/p/new-website",
  },
];
---

<Base pageTitle="Projects" description="Some of my favorite work to date.">
  <h3 class="text-3xl font-bold mt-3 mb-2">Projects</h3>
  <p class="mb-5">Some of my favorite work to date.</p>
  <div class="space-y-5">
    {
      projects.map((project) => {
        return (
          <ProjectCard
            title={project.title}
            description={project.description}
            url={project.url}
            post={project.post}
          />
        );
      })
    }
  </div>
</Base>
