---
import { fullName } from "../../data/config.json";
import Webring from "./Webring.astro";
---

<footer class="grid place-items-center mt-10 space-y-3 mb-20">
  <Webring />
  <ul class="list-none text-center -space-y-1">
    <li>
      <p class="text-xs text-subtext0">Copyright © 2025 {fullName}</p>
    </li>
    <li class="pt-0.5">
      <a class="inline text-xs" href="/acknowledgments"> Acknowledgments </a>
    </li>
    <li>
      <a class="inline text-xs" href="/analytics">Analytics</a>
    </li>
  </ul>
</footer>
