---
import Webring from "./Webring.astro";
const name = {
  first: "Sydney",
  last: "Newmark",
};
---

<footer class="text-center mt-10 space-y-3 mb-20">
  <p class="text-subtext1">Made with ❤️ by {name.first} {name.last}</p>
  <a class="text-xs" href="/acknowledgements">Acknowledgements</a>
  <Webring />
</footer>
