---
import Webring from "./Webring.astro";

const name = {
  first: "Sydney",
  last: "Newmark",
};
---

<footer class="text-center mt-10 space-y-3 mb-20">
  <p class="text-subtext1">Made with ❤️ by {name.first} {name.last}</p>
  <div class="flex flex-col space-y-2 justify-center">
    <a class="text-xs" href="/acknowledgments">Acknowledgments</a>
    <a
      class="text-xs"
      href="https://cloud.umami.is/share/vCIqThw4NIVycoX1/sydneyn.dev"
      >Analytics</a
    >
  </div>
  <Webring />
</footer>
