---
import Webring from "./Webring.astro";
---

<footer class="text-center mt-10 space-y-3 mb-20">
  <Webring />
  <li class="flex flex-col list-none">
    <ul>
      <a class="text-xs mr-3 inline-block" href="/acknowledgments"
        >Acknowledgments</a
      >
    </ul>
    <ul>
      <a
        class="text-xs inline-flex"
        href="https://cloud.umami.is/share/vCIqThw4NIVycoX1/sydneyn.dev"
        >Analytics</a
      >
    </ul>
  </li>
</footer>
