---
import Social from "./Social.astro";

const firstName = "Alaina";
const lastName = "Newmark";
---

<footer class="text-center mt-10 space-y-3 mb-20">
  <ul>
    <li>
      <Social platform="GitHub" url="github.com" username="alythical" />
    </li>
  </ul>
  <p class="text-subtext1">Made with ❤️ by {firstName} {lastName}</p>
</footer>
