---
import { banner } from "../../data/config.json";
import mdToHtml from "../mdToHtml";
import clsx from "clsx";
---

<header>
  {
    banner.text && (
      <section
        class={clsx(
          "rounded-md py-1 border-2 border-mantle bg-mantle w-full text-center",
          banner.border,
        )}
        set:html={mdToHtml(banner.text)}
      />
    )
  }
  <nav class="font-serif font-bold text-md">
    <ul class="my-5 flex flex-wrap gap-y-8 space-x-2 justify-center">
      <li>
        <a class="navbar-link ignored-link" href="/">home</a>
      </li>
      <li>
        <a class="navbar-link ignored-link" href="/in/blog">blog</a>
      </li>
      <li>
        <a class="navbar-link ignored-link" href="/projects">projects</a>
      </li>
      <li>
        <a class="navbar-link ignored-link" href="/gallery">gallery</a>
      </li>
    </ul>
  </nav>
</header>
<style>
  .navbar-link {
    @apply mr-3 text-lavender hover:underline;
  }
</style>
