---

---

<nav class="mb-5 flex flex-wrap gap-y-6 space-x-3">
  <a class="navbar-link ignored-link" href="/">/home</a>
  <a class="navbar-link ignored-link" href="/projects">/projects</a>
  <a class="navbar-link ignored-link" href="/blog">/blog</a>
  <a class="navbar-link ignored-link" href="/tags">/tags</a>
  <a class="navbar-link ignored-link" href="/about">/about</a>
</nav>
<style>
  .navbar-link {
    @apply text-mauve bg-mantle border-2 border-crust rounded-full px-2 py-1 hover:border-blue;
  }
</style>
