---

---

<nav transition:animate="slide" class="mb-5 flex space-x-3">
  <a class="navbar-link" href="/">home</a>
  <a class="navbar-link" href="/archive">archive</a>
  <a class="navbar-link" href="/tags">tags</a>
</nav>
<style>
  .navbar-link {
    @apply text-mauve hover:text-pink;
  }
</style>
