---
import profilePicture from "../images/profilePicture.jpeg";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
---

<header class="px-5">
  <nav class="my-5 flex justify-between font-mono text-xl relative">
    <div class="flex flex-row space-x-4">
      <span>
        <Image
          class="absolute inline w-8 h-8 rounded-full my-auto hover:animate-spin sm:-top-[3.3px]"
          width="64"
          height="64"
          src={profilePicture}
          alt="Sydney Newmark profile shot"
        />
      </span>
      <p class="hidden md:block text-subtext1 pl-7">sydneyn.dev</p>
    </div>
    <ul class="flex flex-row space-x-3">
      <li class="link-wrapper">
        <a class="navbar-link ignored-link" href="/" aria-label="About">
          <p class="hidden sm:block">about</p>
          <Icon name="mdi:home" class="navbar-icon" />
        </a>
      </li>
      <li class="link-wrapper">
        <a class="navbar-link ignored-link" href="/in/blog" aria-label="Blog">
          <p class="hidden sm:block">blog</p>
          <Icon name="mdi:pencil-box-multiple-outline" class="navbar-icon" />
        </a>
      </li>
      <li class="link-wrapper">
        <a
          class="navbar-link ignored-link"
          href="/projects"
          aria-label="Projects"
        >
          <p class="hidden sm:block">projects</p>
          <Icon name="carbon:tool-box" class="navbar-icon" />
        </a>
      </li>
      <li class="link-wrapper">
        <a
          class="navbar-link ignored-link"
          href="/gallery"
          aria-label="Gallery"
        >
          <p class="hidden sm:block">gallery</p>
          <Icon name="carbon:image-copy" class="navbar-icon" />
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .link-wrapper {
    @apply bg-mantle rounded-md px-1 hover:bg-crust;
  }

  .navbar-link {
    @apply text-subtext1;
  }

  .navbar-icon {
    @apply p-1.5 w-8 h-8 rounded-md border-mantle block sm:hidden;
  }
</style>
