---
import mdToHtml from "../mdToHtml";
import clsx from "clsx";

const bannerText = "Make your voice heard. **[Vote](https://iwillvote.com)**.";
const bannerBorder =
  "border-t-red border-b-blue border-x-crust dark:border-x-text";
---

<header>
  {
    bannerText && (
      <section
        class={clsx(
          "rounded-lg py-1 border-2 border-mantle bg-mantle w-full text-center",
          bannerBorder
        )}
        set:html={mdToHtml(bannerText)}
      />
    )
  }
  <nav>
    <ul class="my-5 flex flex-wrap gap-y-8 justify-center">
      <li>
        <a class="navbar-link ignored-link" href="/">home</a>
      </li>
      <li>
        <a class="navbar-link ignored-link" href="/blog">blog</a>
      </li>
      <li>
        <a class="navbar-link ignored-link" href="/projects">projects</a>
      </li>
      <li>
        <a class="navbar-link ignored-link" href="/gallery">gallery</a>
      </li>
      <li>
        <a class="navbar-link ignored-link" href="/about">about</a>
      </li>
    </ul>
  </nav>
</header>
<style>
  .navbar-link {
    @apply mr-3 text-mauve bg-mantle border-2 border-crust rounded-full px-2 py-2 hover:border-mauve;
  }
</style>
