---
import clsx from "clsx";
const { title, description, date, url, featured, draft } = Astro.props;
---

<a
  href={url}
  class={`flex flex-col ignored-link p-3 rounded-3xl ${clsx(featured && "hover:border-mauve", !featured && "hover:border-blue")} border-2 border-crust`}
>
  {draft && <span class="text-peach">draft</span>}
  {featured && <span class="text-mauve">featured</span>}
  <h2 class="font-semibold">{title}</h2>
  <p class="text-subtext0">{date.toDateString()}</p>
  <p class="text-subtext1">{description}</p>
</a>
