---
const { title, description, date, url, featured } = Astro.props;
---

<div class="flex flex-col">
  {featured && <span class="text-mauve">featured</span>}
  <a href={url}>{title} →</a>
  <span class="text-subtext0">{date.toDateString()}</span>
  <span class="text-subtext1">{description}</span>
</div>
