---
interface Props {
  title: string;
  url: string;
  description: string;
}

const { title, url, description } = Astro.props;
---

<a
  href={url}
  class={"flex flex-col ignored-link p-3 rounded-lg border-2 border-crust hover:border-blue"}
>
  <h2 class="font-semibold">{title}</h2>
  <p class="text-subtext1">{description}</p>
</a>
