---
import { Icon } from "astro-icon/components";

interface Props {
  icon: string;
  link: string;
  label: string;
}

const { icon, link, label } = Astro.props;
---

<a
  class="ignored-link text-4xl"
  href={link}
  rel="noopener noreferrer"
  aria-label={label}
>
  <Icon
    name={icon}
    class="p-1 w-8 h-8 border-2 rounded-md border-mantle hover:border-blue"
  />
</a>
