---
import Webring from "./Webring.astro";
---

<footer class="text-center mt-10 space-y-3 mb-20" id="print-hidden">
  <Webring />
  <ul class="flex flex-col list-none">
    <li>
      <a class="text-xs mr-3" href="/acknowledgments">Acknowledgments</a>
    </li>
    <li>
      <a
        class="text-xs"
        href="https://cloud.umami.is/share/vCIqThw4NIVycoX1/sydneyn.dev"
        >Analytics</a
      >
    </li>
  </ul>
</footer>
